<form [formGroup]="registerForm">
  <div class="mb-3">
    <label for="companyName" class="form-label">Company Name</label>
    <input type="text" class="form-control" formControlName="companyName" id="companyName" placeholder="">
  </div>
  
  <div class="mb-3">
    <label for="contactName" class="form-label">Contact Name</label>
    <input type="text" class="form-control" formControlName="contactName" id="contactName" placeholder="">
  </div>
  
  <div class="mb-3">
    <label for="contactTitle" class="form-label">Contact Title</label>
    <input type="text" class="form-control" formControlName="contactTitle" id="contactTitle" placeholder="">
  </div>
  
  
  <div class="mb-3">
    <label for="street" class="form-label">Street</label>
    <input type="text" class="form-control" formControlName="street" id="street" placeholder="">
  </div>
  
  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" formControlName="city" id="city" placeholder="">
  </div>
  
  <div class="mb-3">
    <label for="region" class="form-label">Region</label>
    <input type="text" class="form-control" formControlName="region" id="region" placeholder="">
  </div>
  
  <div class="mb-3">
    <label for="postalCode" class="form-label">Postal Code</label>
    <input type="text" class="form-control" formControlName="postalCode" id="postalCode" placeholder="">
  </div>
  
  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input type="text" class="form-control" formControlName="country" id="country" placeholder="">
  </div>
  
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="">
  </div>
  
  <div class="mb-3">
    <label for="customerKey" class="form-label">Customer Key</label>
    <input type="text" class="form-control" formControlName="customerKey" id="customerKey" placeholder="">
  </div>
  
  <div class="mb-3"><button (click)="register()" class="btn btn-dark">Sign Up</button></div>
</form>