<app-filter-box></app-filter-box>
<div class="container">
    <div class="row">
        <div class="card-1 card-div">
            <div class="like-icon-div">
                <label for="card-1-like" class="like-icon-div-child">
                </label>
            </div>
            
            <div class="gow-img-div img-div">
                <img width="144" height="250" src="assets/images/js.png" alt="god-of-war-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">Yazılım Geliştirici Yetiştirme Kampı (JavaScript)</h2>
                <p class="date">1,5 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız.</p>
                <div class="pricing-and-cart">
                    <p class="pricing">Engin Demiroğ</p>
                    <p class="pricing">Ücretsiz</p>
                </div>
            </div>
        </div>
        <div class="card-2 card-div">
            <div class="like-icon-div">
                <label for ="card-2-like" class="like-icon-div-child">
                </label>
            </div>
            <div class="sekiro-img-div img-div">
                <img width="180" height="250" src="assets/images/angular.png" alt="sekiro-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">Yazılım Geliştirici Yetiştirme Kampı (C# + ANGULAR)</h2>
                <p class="date"> 2 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız. </p>
                <div class="pricing-and-cart">
                    <p class="pricing">Engin Demiroğ</p>
                    <p class="pricing">Ücretsiz</p>
                </div>
            </div>
        </div>
        <div class="card-3 card-div">
            <div class="like-icon-div">
                <label for="card-3-like" class="like-icon-div-child">
                </label>
            </div>
            <div class="dazai-img-div img-div">
                <img  width="180" height="250" src="assets/images/java-react.png" alt="sekiro-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">Yazılım Geliştirici Yetiştirme Kampı (JAVA + REACT)</h2>
                <p class="date"> 2 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız. </p>
                <div class="pricing-and-cart">
                    <p class="pricing">Engin Demiroğ</p>
                    <p class="pricing">Ücretsiz</p>
                </div>
            </div>
        </div>
        <div class="card-4 card-div">
            <div class="like-icon-div">
                <label for="card-4-like" class="like-icon-div-child">
                </label>
            </div>
            <div class="u4-img-div img-div">
                <img  width="180" height="250" src="assets/images/web-programlama.png" alt="u4-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">Programlamaya Giriş için Temel Kurs</h2>
                <p class="date"> PYTHON, JAVA, C# gibi tüm programlama dilleri için temel programlama mantığını anlaşılır örneklerle öğrenin. </p>
                <div class="pricing-and-cart">
                    <p class="pricing">Engin Demiroğ</p>
                    <p class="pricing">Ücretsiz</p>
                </div>
            </div>
        </div>
    </div>
</div>