<app-table-info></app-table-info>

<router-outlet></router-outlet>

<!-- User info çağrıldığı yerdeki html kodu -->
 <!-- <div class="app-user-info">
    <app-user-info></app-user-info>
</div> -->

<!-- Navbar için çağrıldığı yerdeki html -->
<!-- <app-navbar></app-navbar> -->

<!-- Settings menü için çağırılması istenen yerdeki html -->
<!-- <app-settings-menu></app-settings-menu> -->

<!-- side filter search için html -->
<!-- <app-side-filter [filterTitle]="'SEARCH CUSTOMER'"></app-side-filter> -->

<!-- 
login inputları ve butonu -->

<!-- <br>
<br>
<div class="e-form-container">
    <p class="e-form-text">Please your enter Username and password to login</p>
    <form>
        <div class="form-group">
            <input type="text" class="e-input" placeholder="Username" />
        </div>
        <div class="form-group">
            <input type="password" class="e-input" placeholder="Password" />
        </div>
        <div class="form-check d-flex justify-content-between mb-4">    
            <div>
                <input type="checkbox" class="form-check-input e-check" id="exampleCheck1" />
                <label class="form-check-label e-check-label"  for="exampleCheck1">Remember Me</label>   
            </div>   
            <div>
                <a class="e-forgot-password">Forgot password?</a> 
            </div>      
                         
        </div>
        <button type="submit" class="btn btn-primary e-btn">LOG IN</button>
    </form>
    
</div> -->



<!-- Overlay loading için gerekli html -->
<!-- <etiya-overlay-title [title]="'WELCOME'" class="mc1"></etiya-overlay-title>
<etiya-overlay-title [title]="'TO'" class="mc1"></etiya-overlay-title>
<etiya-overlay-title [title]="'ETİYA'" class="mc"></etiya-overlay-title> -->