<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
        <label for="inputUserName">User Name</label>
        <input type="email" class="form-control" id="inputUserName" placeholder="User Name" formControlName="username">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>