<div class="container rich-text m-5">
  <p>
    <span style="color: rgb(3, 3, 3); background-color: rgb(249, 249, 249)"
      >➤</span
    ><strong>Yazılım Geliştirici Yetiştirme Kampı ücretsiz mi olacak?</strong>
    Evet, ücretsiz olacak.
  </p>
  <p><br /></p>
  <p>
    <span style="background-color: rgb(249, 249, 249); color: rgb(3, 3, 3)"
      >➤</span
    ><strong style="color: rgb(54, 65, 77)"
      >Yazılım Geliştirici Yetiştirme Kampı nerede yayınlanacak? </strong
    ><span style="color: rgb(54, 65, 77)"
      >Kampımız canlı olarak yayınlanacak. </span
    >Canlı yayın YouTube kanalımda gerçekleşecek.
    <a
      href="https://www.youtube.com/watch?v=ZhpNqVfVx-c"
      target="_blank"
      style="color: rgb(255, 38, 0)"
      >Canlı yayın alanına ulaşmak için tıklayınız.</a
    >
    Yayın saatini kaçırmamak için kanala abone olup hatırlatıcı eklemeyi
    unutmayınız. Canlı yayın sonrası videolar, ödevler ve testler
    <a href="kodlama.io" target="_blank" style="color: rgb(255, 25, 0)"
      >kodlama.io</a
    >
    'da yayınlanacak.
  </p>
  <p><br /></p>
  <p>
    <span style="background-color: rgb(249, 249, 249); color: rgb(3, 3, 3)"
      >➤</span
    ><strong style="color: rgb(54, 65, 77)"
      >Yazılım Geliştirici Yetiştirme Kampının canlı yayın tarihi ne zaman ve
      saat kaçta başlayacak? Bir canlı yayın süresi ne kadar olacak? Canlı yayın
      hangi günlerde yapılacak?</strong
    >
  </p>
  <p>Canlı yayın balangıç tarihi : 9 Ocak Cumartesi 2021</p>
  <p>Canlı yayın saati : 21.00</p>
  <p>Canlı yayın süresi : 3 ders saati</p>
  <p>
    Canlı yayın günleri : Çarşamba ve Cumartesi (İlk canlı ders tarihini takip
    eden her haftanın Çarşamba ve Cumartesi günlerinde devam edecek)
  </p>
  <p><br /></p>
  <p>
    <span style="background-color: rgb(249, 249, 249); color: rgb(3, 3, 3)"
      >➤</span
    ><strong style="color: rgb(54, 65, 77)"
      >Yazılım Geliştirici Yetiştirme Kamp programı ne kadar sürecek? </strong
    ><span style="color: rgb(54, 65, 77)"
      >Ücretsiz olarak vereceğim bu kamp 2 ay boyunca sürecek.</span
    >
  </p>
  <p><br /></p>
  <p>
    <span style="background-color: rgb(249, 249, 249); color: rgb(3, 3, 3)"
      >➤</span
    ><strong style="color: rgb(54, 65, 77)"
      >Kamp programında neler olacak?</strong
    ><span style="color: rgb(54, 65, 77)"> </span
    ><a
      href="https://www.kodlama.io/courses/1235979/lectures/27554729"
      target="_blank"
      style="color: rgb(255, 13, 0)"
      >Detaylı kamp programına ulaşmak için bağlantıyı tıklayınız.</a
    >
  </p>
  <p><br /></p>
  <p>
    <span style="color: rgb(3, 3, 3); background-color: rgb(249, 249, 249)"
      >➤</span
    ><strong
      >Canlı yayın sonrası videolar, ödevler ve testler olacak mı? Olacak ise
      bunlara nasıl ulaşabilirim?</strong
    >
    Evet, c<span style="color: rgb(54, 65, 77)"
      >anlı yayın sonrası videolar, ödevler ve testler olacak. Kodlama.io 'da </span
    >Yazılım Geliştirici Yetiştirme Kampının içinde bulunan ders programınıza
    ekleyeceğiz.
  </p>
  <p><br /></p>
  <p>
    <span style="background-color: rgb(249, 249, 249); color: rgb(3, 3, 3)"
      >➤</span
    ><strong style="color: rgb(54, 65, 77)"
      >Yazılım Geliştirici Yetiştirme Kampından</strong
    ><strong>
      en büyük verimi nasıl alabilirim? Kamp sırasında neler yapmamı
      önerirsiniz?</strong
    >
  </p>
  <p>
    1-İki ekranda takip etmeye çalışın. (<span style="color: rgb(54, 65, 77)"
      >Bu ekranlardan birinde beni izlerken diğerinde kod yazıp, soru cevap
      platformumuzdan destek alabilirsiniz. Yardımcı ekran tablet, monitör veya
      evdeki HDMI destekli TV olabilir.)</span
    >
  </p>
  <p>
    <span style="color: rgb(54, 65, 77)"
      >2-İkinci ekran yoksa? (Bu durumda bilgisayar ekranınızı ikiye
      bölebilirsiniz. Windows + Sol Yön tuşuyla mevcut ekranı sola, Windows +
      sağ yön tuşu ikilisiyle de mevcut diğer ekranı sağa atabilirsiniz.
      Öncesinde deneyiniz.)</span
    >
  </p>
  <p>
    <span style="color: rgb(54, 65, 77)"
      >3-Ne kurmalıyım? (Eğitimin ilk günü için bir şey kurmanız gerekmiyor.
      Online editör kullanacağız. </span
    ><a href="https://repl.it/" target="_blank" style="color: rgb(255, 13, 0)"
      >Repl.it</a
    ><span style="color: rgb(54, 65, 77)">
      sitesinden bir hesap açmanız yeterlidir. İkinci gün itibariyle Visual
      Studio kullanacağız. </span
    ><a
      href="https://www.youtube.com/watch?v=kOnAP3fT_Vs&amp;t=187s"
      target="_blank"
      style="color: rgb(255, 51, 0)"
      >Sizin için bir kurulum videosu hazırladım.</a
    ><span style="color: rgb(255, 51, 0)">)</span>
  </p>
  <p><br /></p>
  <p>
    <span style="background-color: rgb(249, 249, 249); color: rgb(3, 3, 3)"
      >➤</span
    ><strong style="color: rgb(54, 65, 77)"
      >Yazılım Geliştirici Yetiştirme Kampından en büyük verimi nasıl
      alabilirim? Yazılım Geliştirici Yetiştirme Kampına katılmadan önce neler
      yapmamı önerirsiniz?</strong
    >
  </p>
  <p>
    Herhangi bir programlama bilgisi tecrübeniz olması gerekmiyor. Fakat temel
    programlama tecrübenizin olması büyük avantaj sağlar. Bu yüzden aşağıdaki
    bana ait yine ücretsiz kaynaklara erişiminiz önemlidir.
  </p>
  <ul>
    <li>
      <a
        href="https://www.kodlama.io/p/programlamaya-giris"
        target="_blank"
        style="color: black"
        >Eğer programlama tecrübeniz ve bilginiz hiç yok veya çok az ise
        tıklayınız,</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=6IWpowC2ryc"
        target="_blank"
        style="color: black"
        >Yukarıdaki dersi bitirdim ama biraz daha örneğe ihtiyacım var
        diyorsanız tıklayınız,</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=2EkMrrX9sYY"
        target="_blank"
        style="color: black"
        >Temel seviyeden daha iyi durumdayım diyorsanız tıklayınız,</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=H3QOQRh8cgk&amp;list=PLqG356ExoxZWfcrBP53Njxir4a-OgqRki&amp;index=2"
        target="_blank"
        style="color: black"
        >İleri seviye olmak üzereyim diyorsanız tıklayınız,</a
      >
    </li>
  </ul>
  <p style="margin-top:2.4rem">
    <span style="background-color: rgb(249, 249, 249); color: rgb(3, 3, 3)"
      >➤</span
    ><strong
      >Canlı yayına katılamayacak kişilerin, dersleri herhangi bir platform
      üzerinden takip etme, tekrarını izleme gibi bir şansı olacak mı?</strong
    >
    Evet, canlı yayından sonra kodlama.io 'ya ekleyeceğiz. Katılamadığınız veya
    tekrar izlemek istediğiniz yayınlara kodlama.io 'dan ulaşabilirsiniz.
  </p>
</div>
