
    <div class="container">
      <div class="tab-1">
        <div class="category-tab">
          <label for="category" style="color: #989898">Kategori:</label>
        </div>        
        <div class="dropdown">
            <div style="display:inline">
                <button class="dropbtn" style="margin-left:-16px;font-size: medium;">Tümü
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Tümü</a>
                    <a href="#">Programlama</a>
                </div>
            </div>
        </div>
        <div class="category-tab">
          <label for="category" style="color: #989898">Eğitmen:</label>
        </div>
        <div class="dropdown">
            <div style="display:inline">
                <button class="dropbtn" style="margin-left:-16px;font-size: medium;">Tümü
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Tümü</a>
                    <a href="#">Engin Demiroğ</a>
                </div>
            </div>
        </div>
      </div>
      <div class="tab-2">
        <form id="form">
            <input type="search" id="query" name="q" placeholder="Kurs Bul" style="height: 50px; width:300px">

            <button aria-label="Search Courses" id="search-course-button" class="btn search btn-default btn-lg"
                type="submit"><i class="fa fa-search search-icon" title="Search"></i></button>
        </form>
      </div>
    </div>