<app-dashboard-layout>
    <h3 class="mt-5">PrimeNg</h3>
    <div class="card">    
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" routerLink="/service/add"></button>
            </ng-template>
        </p-toolbar>
        <p-table [value]="tempServices" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th style="display:flex;justify-content:end; padding-right: 50px;">Update - Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-service>
                <tr>
                    <td>{{service.id}}</td>
                    <td>{{service.name}}</td>
                    <td style="display:flex;justify-content:end; padding-right: 50px;">
                        <button style="margin-right: 20px" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-help p-mr-2" (click)="selectedServiceId(service)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteService(service.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</app-dashboard-layout>


<app-dashboard-layout>
    <h3 class="mt-5">Bootstrap</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th style="display:flex;justify-content:end; padding-right: 50px;">Update - Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of services">
            <th scope="row">{{ service.id }}</th>
            <td>{{ service.name }}</td>
            <td style="display:flex;justify-content:end; padding-right: 50px;">
                <button style="margin-right: 25px" type="button" (click)="selectedServiceId(service)" class="btn btn-warning"><i class="fa-solid fa-pen-to-square" style="color: black;"></i></button>
                <button type="button" (click)="deleteService(service.id)" class="btn btn-danger"><i class="fa-solid fa-trash-can" style="color: black;"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end me-5">
            <li class="page-item" *ngFor="let index of allDataArray"><a class="page-link" (click)="fillData(index)">{{ index }}</a></li>
        </ul>
      </nav>
</app-dashboard-layout>