<form *ngIf="customer" [formGroup]="updateCustomerForm" (ngSubmit)="update()">
    <div class="mb-3">
        <label for="companyName" class="form-label">Company Name</label>
        <input type="text" class="form-control" id="companyName" placeholder="" formControlName="companyName" >
    </div>

    <div class="mb-3">
        <label for="contactName" class="form-label">Contact Name</label>
        <input type="text" class="form-control" id="contactName" placeholder="" formControlName="contactName" >
    </div>

    <div class="mb-3">
        <label for="contactTitle" class="form-label">Contact Title</label>
        <input type="text" class="form-control" id="contactTitle" placeholder="" formControlName="contactTitle">
    </div>


    <div class="mb-3">
        <label for="street" class="form-label">Street</label>
        <input type="text" class="form-control" id="street" placeholder="" formControlName="street" >
    </div>

    <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" placeholder="" formControlName="city" >
    </div>

    <div class="mb-3">
        <label for="region" class="form-label">Region</label>
        <input type="text" class="form-control" id="region" placeholder="" formControlName="region" >
    </div>

    <div class="mb-3">
        <label for="postalCode" class="form-label">Postal Code</label>
        <input type="text" class="form-control" id="postalCode" placeholder="" formControlName="postalCode" >
    </div>

    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" id="country" placeholder="" formControlName="country">
    </div>

    <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="" formControlName="phone" >
    </div>

    <div class="mb-3">
        <label for="customerKey" class="form-label">Customer Key</label>
        <input type="text" class="form-control" id="customerKey" placeholder="" formControlName="customerKey">
    </div>
    <div class="mb-3"><button type="submit" class="btn btn-warning">Update</button></div>
</form> 