<footer class="bg-dark-blue">
    <section id="training" class="bg-dark-blue">
        <div class="items">
          <article class="item">
            © Kodlama.io 2022
          </article>
          <article class="item">
            <a href="#">Kullanım Koşulları</a>
          </article>
          <article class="item">
            <a class="powered-by" href="https://teachable.com/teach-online/?src=school_footer">
                Teach Online with <img src="https://fedora.teachablecdn.com/assets/footer/teachable-logomark-white-31d2296978598bacace50e6d48a2e1223c20a9b074af424acdd465676f81560f.svg" class="powered-by-logo" target="_blank" rel="noopener" alt="Teachable">
              </a>
          </article>
        </div>
    </section>
</footer>