<table  class="table table-light table-hover">
    <thead>
      <tr >
        <th scope="col">Id</th>
        <th scope="col">Ship Name</th>
        <th scope="col">Customer Key</th>
        <th scope="col">Ship Street</th>
        <th scope="col">Ship City</th>
        <th scope="col">Ship Region</th>
        <th scope="col">Ship Country</th>
        <th scope="col">Order Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *appWelcome="2000; else showList">
        <td colspan="8">
          <span class="m-3" *appMultiple="5">
            <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </span>
        </td>
      </tr>
      <ng-template #showList>
        <tr *appMyFor="let order of orderList;">
          <th scope="row">{{order.id}}</th>
          <td>{{order.shipName | uppercase}}</td>
          <td>{{order.customerKey}}</td>
          <td>{{order.shipStreet}}</td>
          <td>{{order.shipCity}}</td>
          <td>{{order.shipRegion }}</td>
          <td>{{order.shipCountry}}</td>
          <td>{{order.orderDate  }}</td>
        </tr>
      </ng-template>
    </tbody>
</table>